@import "tailwindcss";

@theme {
  --color-primary: #286af8;
  --color-primary-hover: #1d4ed8;
  --color-primary-active: #1e40af;
}

:root {
  color-scheme: dark;
  --primary: #286af8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #020617;
}
